

body {
    background-color:white;
    font-family: modesto-open-inline-fill, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#landing {
    width:70%;
    position: relative;
    left:15%;
    right:15%;
}
#header {
    width:auto;
}
#glyphs {
    width:33%;
    margin-bottom:-70px;
}
a:hover {
    color:black;
    text-decoration: underline;
}
h3 {
    color:black;
    position:relative;
    font-family: modesto-open-inline-fill, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}
#footer {
    font-size:14px;
    color:black;
    position:relative;
    top:170px;
    
}
#main {
    height:100%;
}
