
html,body
{
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    margin-top:5%;
    height:auto;
    width:100%;
    background-color:white;
    font-family: modesto-open-inline-fill, sans-serif;
    font-style: normal;
    font-weight: 400;
}
#main {
    width:75%;
    height:auto;
    display:flex;
  
}
#landing {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    flex-basis:100%;
    margin-top:2%;
    position: relative;
}
#tvbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    width:auto;
    height: auto;
    position: relative;
    flex-basis:content;
}
#contactbox {
    display:flex;
    width:100%;
    height:100%;
}

#contact {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    position: relative;
    flex-basis:content;
}
#tech {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    flex-basis:content;
}

#header {
    width:auto;
}
social container {
    display:flex;
    width:100%;
}
#social {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    flex-basis:content;
    margin-top:auto;
    position: relative;
}
#glyphs {
    width:20%;
    margin-top:-2%;
}
a:hover {
    color:black;
    text-decoration: underline;
}
#heading {
    position:relative;
    width:430px;
}
#nav {
    
}
h3 {
    color:black;
    position:relative;
    font-family: modesto-open-inline-fill, sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}
#vidgallery video {
    box-shadow: 8px 8px 8px grey;
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
}
#vidgallery {
    padding-bottom:18%;
}
#footer {
    font-size:14px;
    color:black;
    position:static;
    bottom:20px;
    
}

